@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

header{
  position: fixed;
  background: #CFB53B;
  padding: 20px;
  width: 100%;
  height: 90px;
}

.left_area h3{
  color: black;
  margin: 0;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 900;
  float: left;
}

.right_area a  {
  float: left;
  color: black;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 20px; 
  line-height: 10px;
  border-radius: 5px;
}


.right_area a:hover {
  background-color: black;
  color: white;

}

.right_area a.active {
  background-color: black;
  color: white;
 justify-content: space-between; 
 margin-right: 15px
 


  
}

.right_area{
  float: right;
  padding: 0 30px 10px 0;
 justify-content: space-between; 
 
@media screen and (max-width: 500px) {
.right_area a {
    float: none;
    display: block;
    text-align: left;
  }
  
.right_area{
    float: none;
  }
}

  
}

.sidebar {
  background: #2f323a;
  margin-top: 90px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 240px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile-pic #photo-image1 {
    height: 150px; 
    width: 150px; 
    position: absolute;
    top: 15%; 
    left: 48%; 
    transform: translate(-50%,-50%); 
    border-radius: 50%; 
    overflow: hidden; 
    border: 0; 
}

#file{
    display: none; 
    
}

#uploadBtn {
    height: 150px; 
    width: 150px; 
    position: absolute;
    top: 15%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    border-radius: 50%; 
    overflow: hidden; 
    border: 0; 
    cursor: pointer; 
     
}

.sidebar .userInfo {
   position: absolute; 
   transform: translate(-50%, -50%); 
    top: 45%; 
    left: 35%; 
    padding: 15px; 
    width: 208px; 
    height: 340px;
}

.sidebar .userInfo  h2{
 
    padding:  0px 20px 0px 30px; 
    border: none; 
    border-radius: 5px; 
    font-weight: bold;
    color: white;
    
}


.sidebar .userInfo2 {
   position: absolute; 
   transform: translate(-50%, -50%); 
    top: 50%; 
    left: 48%; 
    padding: 15px; 
    width: 230px; 
    height: 340px;
}

.sidebar .userInfo2  p{
 
    padding: 0px 20px 2px;
    border: none; 
    border-radius: 5px; 
    color: white;
    
}

.sidebar .logout {
   position: absolute; 
   transform: translate(-50%, -50%); 
    top: 86%; 
    left: 46%; 
    padding: 10px 0px 30px 20px; 
    width: 259px; 
    height: 100px;
   background: #CFB53B;
}

.logout a  {
  float: left;
  color: black;
  text-align: center;
   padding: 15px 0px 40px 75px; 
  text-decoration: none;
  font-size: 25px; 
  line-height: 10px;
  border-radius: 5px;
}




.logout a.active {
  background-color: black;
  color: white;
 justify-content: space-between; 
 margin-left: 15px
 


  
}


.sidebar .wrapper {
    position: relative; 
    top: 5%; 
    left:  320%;
    transform: translate(-50%, -50%); 
    background: rgba(0,0,0,0.6); 
    max-width: 900px; 
    width: 850px; 
	height:90px;
    padding: 15px; 
    border-radius: 5px; 
    display: flex;
	z-index: -1;
    
    
}

.sidebar .wrapper form.search input[type=text] {
    width: 750px; 
    padding:  15px 20px; 
    border: none; 
    border-radius: 5px; 
    font-weight: bold; 

}

 .sidebar .wrapper form.search  button {
  width: 5%;
  height: 90%;
  padding: 10px;
  background: #CFB53B;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none-; /* Prevent double borders */
  cursor: pointer;
  transform: translate(-50%, -50%); 
  position: absolute; 
  top: 50%;
  left:  95%;



}

.sidebar .wrapper  form.search button:hover {
  background: transparent;
}

/* Clear floats */
 .sidebar .wrapper form.search::after {
  content: "";
  clear: both;
  display: table;
}


.sidebar .wrapperDetail {
    position: absolute; 
    top: 50%; 
    left:  320%;
    transform: translate(-50%, -50%); 
    max-width: 900px; 
    width: 850px; 
    padding: 10px; 
    border-radius: 5px; 
    display: flex-;
    z-index: -2;    
}
