.mainBody{
    background-color: #CFB53B;
}

.iframeClass{
    padding: 10px 10px 10px 10px;
}

#uploadFileBtn{
    background-color: #000000;
    padding-bottom: px;
    color: #ffffff;
}

#frame{
    background-color: #d3d3d3;
    border-width: 3px;
    border-color: #000000;
}

#submitBtn{
    background-color: #000000;
    color: #ffffff;
}