@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {

	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif; 

}

section {
	
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;

}

section .landingBox {

	position: relative;
	width: 50%;
	height: 100%

}

section .landingBox:before {
		
	content: ' ';
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
	background: linear-gradient(225deg, #e91e63, #03a9f4);
	mix-blend-mode: screen;
		
}

section .landingBox img {
	
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height:100%;
	object-fit: cover; 
		
}

section .loginContentBox {
	
	display: flex; 
	width: 50%;
	height: 100%;
	justify-content: center; 
	align-items: center;
	background: linear-gradient(225deg, #ffd6d6, #BEBEBE, #96ae8d);

}

section .loginContentBox .loginFormBox {
	
	width: 50%

}


section .loginContentBox .loginFormBox h2 { 
	
	color: purple;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 4px solid #ff4584;
	display: inline-block; 
	letter-spacing: 1px; 
}

section .loginContentBox .loginFormBox .loginInputBox {

	margin-bottom: 20px; 

}

section .loginContentBox .loginFormBox .loginInputBox span {
	
	font-size: 16px; 
	margin-bottom: 5px;
	display: inline-block;
	color: purple:
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 1px; 
	
}

section .loginContentBox .loginFormBox .loginInputBox input {
	
	width: 100%;
	padding: 5px; 20px;
	outline: none; 
	font-weight: 400;
	border: 2px solid black; 
	font-size: 16px;		
	letter-spacing: 1px;
	color: purple;		
	background: transparent; 
	border-radius: 4px;
	
}



section .loginContentBox .loginFormBox .loginInputBox input[type="submit"] {

	background: black;
	color: white;
	outline: none;
	border: none;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 0 10px 0; 
	

}

section .loginContentBox .loginFormBox .loginInputBox input[type="submit"]:hover {

	background: #f53677;

}

section .loginContentBox .loginFormBox .rememberMe {

	margin-bottom: 10px; 
	color: black;
	font-weight: 400;
	font-size: 14px;

}

section .loginContentBox .loginFormBox .loginInputBox a {

		color: purple;
		text-align: center: 

}

